/* Reset de márgenes y rellenos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilos globales */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
    background-color: #f4f4f4;
  }
  
  header {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px;
  }
  
  h1 {
    font-size: 2.5em;
  }
  
  h2 {
    margin-top: 30px;
  }
  
  ul {
    list-style: none;
  }
  
  li {
    margin: 10px 0;
  }
  
  #contacto form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  #contacto label {
    margin-bottom: 5px;
  }
  
  #contacto input, #contacto button {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #333;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }
  
  footer {
    text-align: center;
    margin-top: 30px;
    font-size: 0.9em;
  }
  